

  /* .reveal.active {
    transform: translateY(0px);
    opacity: 1;
    transition: all 0.5s ease;
  } */
*{
    /* box-sizing: border-box; */
}
  a{
    text-decoration: none;
    color: #CCCCCC;
}
a:hover{
    color: #18d26e;
    transition: all 0.3s ease-in-out 0s;
}
a:hover:before, .active:before
{
    visibility: visible;
    width: 100%;
}
a:before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    visibility: hidden;
    background-color: #18d26e;
    transition: all 0.3s ease-in-out 0s;
}
.active{
    color: #18d26e;
}
.header-top{
    position: sticky;
    top: 0;
    height: 50px !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding: 20px 0 ;
}
body{
    background-color: black;
    background-image: url("img/bg-main.jpg");
  /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    margin: 0;
}
.bg-black{
    background-color: rgba(0, 0, 0, 0.9);
}
.bg-lightgrey{
    background-color: rgba(255, 255, 255, 0.12);
}
.color-grey{
    color:#CCCCCC;
}
.color-navy{
    color: #007ACC !important;
}
.container{
    margin: 0 20%;
}
.display-none{
    display: none;
}
.d-flex{
    display: flex;
}
.fade-up{
    left: 0 !important;
    top: -1000px !important;
}
.fade-up-2{
    position: absolute;
    top: 0 !important;
    left: 0 !important;
}
.flex-1,
.resume .bg-lightgrey,
.services .bg-lightgrey{
    flex: 1;
}
.float-left{
    float: left;
}
h1, h2, h3, h4, h5, h6{
    /* margin: 5px; */
    margin: 0;
    font-weight: normal;
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
}

.home{
    position: relative;
    top: 20vw;
    transition: all 1s ease-in-out 0s;
}

#interests .bg-lightgrey{
    flex: 1;
    padding: 10px 20px 10px 30px;
    border-radius: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

#interests .d-flex{
    gap: 20px;
}

.justify-center{
    justify-content: center;
}

.justify-space-around{
    justify-content: space-around;
}

.justify-space-between{
    justify-content: space-between;
}

li{
    transition: all 1s ease-in-out ;
}
/* #main{
    width: 80%;
    overflow: hidden;
} */
.margin-right-100{
    margin-right: 100px;
}
#myElement {
    position: inherit;
    top: 0;
    left: 0;
  }
.move-position{
    position: absolute;
    top: 1000px !important;
    left: 0 !important;
}
.position-relative,
#interests,
#skills{
    position: relative;
}
.reveal{
    left: 0 !important;
    opacity: 1 !important;
}
#sectionAbout .color-grey::after{
    content: "";
    background-color: #18d26e;
    width: 50px;
    height: 1px;
}
section {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 140px;
    bottom: 100%;
    opacity: 0;
    transition: all 1s ease-in-out;
}
/* section {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 140px;
    bottom: 100%;
    left: 1200px;
    opacity: 0;
    transition: all 1s ease-in-out;
} */
.section-show {
    left: 0;
    /* bottom: auto; */
    bottom: -500px;
    opacity: 1;
    padding-bottom: 45px;
}
#interests, 
#skills{
    margin-top: 50px;
}
.text-center,
.services{
    text-align: center;
}
.overflow-hidden{
    overflow: hidden;
}
.overflow-visible{
    overflow: visible;
}
.width-100{
    width: 100%;
}




/* Home */
.home a{
    position: relative;
}
h1{
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}
.home span{
    color: #18d26e;
}
.home nav{
    max-width: fit-content;
    position: relative;
    top: 1vw;
    transition: all 1s ease-in-out;
    left: 0;
}
.home nav ul{
    display: flex;
    list-style: none;
    padding: 0;
}
.home nav ul li::after{
    content: "";
    margin-right: 30px;
}
.home .social-links a::after{
    content: "";
    border-left: 5px solid #CCCCCC;
    border-top: 5px solid #CCCCCC;
    width: 5px;
    height: 10px;
}
/* End Home */

/* About */
.details .d-flex,
#skills .d-flex,
.resume .d-flex,
.services .d-flex{
    gap: 50px;
}

#skills .flex-1{
    line-height: 17px;
}

#skills .expertise{
    display: flex;
    justify-content: space-between;
}

#skills progress{
    width: 100%;
}

/* End About */

.about,
.resume,
.services,
.contact{
    position: absolute;
    top: 50px;
    left: 380px;
    width: 1200px;
    transition: all 1s ease-in-out;
  }
.home-transform{
    margin: 0 1%;
    top: 1vw;
}
.nav-transform{
    transform: rotate(90deg);
    top: 20vw !important;
    left: -13vw !important;
}
.li-transform{
    transform: rotate(-90deg);
    position: relative;
    top: -15px;
    left: -20px;
}
.resume .bg-lightgrey,
.services .bg-lightgrey{
    padding: 30px;
    border-radius: 20px;
}
.resume .bg-lightgrey h1,
.services .d-flex h1{
    color: #ffbd39;
}
.resume .text-center,
.services h1{
    margin: 50px;
}

/* Start Services */

/* End Services */


/* Start Contact */
.contact img{
    padding: 40px;
    border-radius: 50%;
}

/* End Contact */


/* Start Timeline CSS */
.certificates{
    position: relative;
    top: 600px;
}

.national-certificate{
    position: relative;
    top: 300px;
}

.national-certificate .graduate-icon img,
.certificates .graduate-icon img{
    right: -80px;
    top: -5px;
}

.timeline {
    position: absolute;
    top: 300px;
    left: 350px;
    max-width: 1200px;
    margin: 0 auto;
  }

.timeline h1{
    position: absolute;
    top: -150px;
    z-index: 1;
}
  
  /* The actual timeline (the vertical ruler) */

  /* .resume::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 2100px;
    background-color: white;
    top: -70px;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  } */
  
  /* Container around content */
  .wrapper {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  /* .wrapper::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  } */

  .graduate-icon img{
    position: absolute;
    width: 30px;
    right: -38px;
    padding: 10px;
    background-color: #FF9F55;
    top: 5px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the wrapper to the left */
  .left {
    left: -90px;
  }
  
  /* Place the wrapper to the right */
  .right {
    left: 51%;
  }
  
  /* Add arrows to the left wrapper (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right wrapper (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for wrappers on the right side */
  .right::after {
    left: -16px;
  }
  
  .right .graduate-icon img{
    left: -80px;
    top: -5px !important;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: #1F1F1F;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .graduate-icon img {
    left: 31px;
    }
    
    /* Full-width wrappers */
    .wrapper {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .wrapper::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right wrappers behave like the left ones */
    .right {
    left: 0%;
    }
}
/* End Timeline CSS */